.ContactForm {
    font-family: "Source Sans Pro", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1.25rem;
    background-color: whitesmoke;
    margin-left:40rem;
    margin-right: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc; 
    height: 44rem;
}

.title{
    margin-bottom: 2rem;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
}

form input {
    border: 1px solid rgba(44, 41, 41, 0.2);
    background-color: rgba(44, 41, 41, 0.2);
    width: 250px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    margin: 0.2rem;
    display: block;
    text-align: center;
    font-size: 18px;
    color: black;
    font-weight: 300;
}

.inputForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem;
}



.contactInfo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;
}

.comment{
    width: auto;
    height: 10rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.connect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 14rem;
    padding-right: 14rem;
}

.demo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    padding-left: 14rem;
    padding-right: 14rem;
}

.successMessage {
    text-align: center;
    display: none;  
    color: #059862; 
}