.PhaseForm{
    margin-left: 15rem;
    margin-right: 15rem;
}

.Time{
    display: flex;
    flex-direction: row;
}

.techInput{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}