.admin-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-mobile{
    display: none;
}

@media all and (max-device-width: 550px){
    
    .nav-desktop{
        display: none;
    }
    .nav-mobile{
        display: block;
    }
    .menu-item{
        
        color: #b5b5b5;
        
    }
}