footer{
    background-color: whitesmoke;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: "McLaren", cursive;
    font-size: 1.5rem;
    clear: both;
    position: relative;
    height: 200px;
    
   
}

.team{
    display: flex;
    justify-content: center;
   
}
.logoEquipe{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

