@use '../../styles/vars';

.tech-list-container {
  height: 70vh;
  margin: auto;
  overflow: scroll;
  color: vars.$text-color;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ui.header .content {
  display: inline-block;
  vertical-align: top;
  color: white;
}

.ui.header .sub.header, .ui.small.header .sub.header {
  font-size: 1rem;
  color: white;
}

.ui[class*="very basic"].table:not(.sortable):not(.striped) thead tr:first-child th {
  padding-top: 0;
  color: white;
}
