@use '../../styles/vars';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: vars.$bg-color;
  color: vars.$text-color;
  font-size: 200%;
}

#h1-Kapouevent-header,h1:first-child, {
  color: #fff;
  margin-top: 0;
  font-size: 300%;
}
