.header{
    display: flex;
    background-color: whitesmoke;
    margin-left: 1rem;
}

.title{
    color: rgb(0, 0, 0);
    font-family: "McLaren", cursive;
    font-weight: 500;
    font-size: 3rem;
    margin-left: 1rem;
}