.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    margin-left: 1rem;
}

.title{
    color: rgb(0, 0, 0);
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 500;
    font-size: 3rem;
    margin-left: 1rem;
}

.logout{
  height: 50%;
}
