@use '../../styles/vars';

.homepage {
  background: vars.$bg-color center / cover no-repeat
    url("../../assets/nightgig.jpg");
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: vars.$text-color;
  text-shadow: 0 0 5px #000;
}

.homepage h1 {
  font-size: 6em;
}

.homepage h2 {
  font-size: 3em;
}

@media screen and (max-width: 480px) {
  .homepage h1 {
    font-size: 2em;
  }

  .homepage h2 {
    font-size: 1em;
  }
}

@media screen and (max-width: 1024px) {
  .homepage h1 {
    font-size: 3em;
  }

  .homepage h2 {
    font-size: 2em;
  }
}
