@use '../../styles/vars';

body {
  background-color: vars.$bg-color;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  background-color: vars.$bg-color;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
