@use '../../styles/vars';

div.tech-calendar div.tui-full-calendar-popup-container > div.tui-full-calendar-section-button {
  display: none;
}

.tech-calendar {
  background-color: vars.$bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-nav-views {
  margin: 10px;
}

.tech-tui-calendar {
  width: 100%;
  height: 50%;
}
